* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: rgba(18, 18, 18, 0.95);
    color: #D4D4D4;
}

#workspaces button {
    padding: 0 10px;
    color: #3f00ff;
}

#workspaces button.active {
    background: #3f00ff;
    color: #121212;
}

#clock {
    font-weight: bold;
}

#custom-clipboard, #pulseaudio, #battery, #tray {
    padding: 0 10px;
}

#battery.warning { color: #FFBF00; }
#battery.critical { color: #FF0000; }
